.productsBackgroundDiv[style*="bee"] {
  background-size: cover;
}
.createProductDiv .productsBackgroundDiv .createProductLeftDiv {
  width: 50%;
  height: calc(100hv - 100px);
}
.createProductDiv .productsBackgroundDiv .createProductRightDiv {
  width: 50%;
  height: calc(100vh - 100px);
}
.createProductDiv .productsBackgroundDiv {
  display: flex;
}
.fade-in {
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}