.blogDiv {
  display: flex;
}
.blogDiv .blogFlexContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.blogDiv .blogLeftTopDiv {
  padding: 50px 0 20px 0;
  background-color: black;
}
.blogDiv .blogLeftTopDiv .blogPost #createBlogForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogDiv .blogLeftTopDiv .blogPost #createBlogForm h3 {
  color: white;
}
.blogDiv .blogLeftTopDiv .blogPost #createBlogForm label {
  margin-top: 10px;
}
.blogDiv .blogLeftTopDiv .blogPost #createBlogForm button {
  padding: 10px 0px 10px 0px;
  width: 100px;
  margin-top: 10px;
}

.blogDiv .blogLeftBottomDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: calc(100vh - 377px);
  overflow-y: auto;
  min-height: 80px;
  max-height: calc(100vh - 377px);

}
.blogDiv .blogLeftBottomDiv .postCard {
  background-color: white;
  width: 90%;
  padding: 20px;
  margin: 20px 0 20px 0;
}
.blogDiv .blogRightDiv {
  width: 50%;
  height: calc(100vh - 100px);
}
.blogDiv .blogRightDiv[style*="flower"] {
  background-size: cover;
}

/* MEDIA QUERIES---------------------------------------- */
@media (max-width: 800px) {
  .blogDiv {
    flex-direction: column;
  }
  .blogDiv .blogFlexContainer {
    width: 100%;
  }
  .blogDiv .blogRightDiv {
    display: none;
  }
}